trained_models/emails1_datasize_750/*
trained_models/emails2_datasize_750/*
trained_models/emails1+2_datasize_750/*
trained_models/emails1_datasize_1000/*
trained_models/emails2_datasize_1000/*
trained_models/emails1+2_datasize_1000/*